src/main/resources/xsd/point.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="point">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="x" type="xs:double"/>
                <xs:element name="y" type="xs:double"/>
                <xs:element name="r" type="xs:double"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>